<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Design technologist focused on helping creative teams quickly ideate, prototype, and test innovative experiences that connect physical and digital worlds.">

	<title>Marcel Ray, Design Technologist</title>

	<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/assets/images/favicon/site.webmanifest">
	<link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap">
	<link rel="stylesheet/less" href="/assets/styles/styles.less">

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-22942940-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-22942940-1');
	</script>
	
	<script src="//cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/gsap@3.5.1/dist/gsap.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/less@3.13"></script>
	
	<script src="/assets/scripts/mr-lib.js"></script>
	<script defer src="/assets/scripts/portfolio.js"></script>

</head>

<body>

	<div id="mr--app" :class="{ 'mr--modal-open': currentProject }">

		<div class="mr--content">

			<div class="mr--header">

				<div class="mr--header-group">
					<h1>Marcel Ray</h1>
					<svg class="name" xmlns="http://www.w3.org/2000/svg">
						<linearGradient id="name-fill" x1="0%" y1="0%" x2="100%" y2="100%">
							<stop stop-color="#a8086f" offset="20%" />
							<stop stop-color="#39a4af" offset="100%" />
						</linearGradient>
						<text x="0" y="0" dominant-baseline="text-before-edge" fill="url(#name-fill)">Marcel Ray</text>
					</svg>	
				</div>

				<nav class="mr--nav-global">
					<a href="https://linkedin.com/in/marcelray" target="_blank">LinkedIn</a>
					<a href="/assets/downloads/marcelray-resume.pdf" target="_blank">Résumé</a>
					<a href="mailto:hello@marcelray.com?subject=Hello!">Email</a>
				</nav>

			</div>

			<div class="mr--intro">
				<div class="mr--content">Design technologist focused on helping creative teams
					quickly ideate, prototype, and test innovative experiences that
					connect physical and digital worlds.</div>
			</div>

			<div class="mr--group" v-for="projectGroup in projectGroups">
				<transition-group appear name="project-grid" class="mr--projects" tag="ul">
					<li 
						class="mr--project" 
						v-for="( project, index ) in getGroupProjects(projectGroup)" 
						v-if="project.display"
						v-bind:key="project"
						:style="{ '--i': index }"
						>
						<div class="mr--project-thumbnail">
							<a :href="'#' + project.id">
								<loader-image
									:src="'http://marcelray.com/utils/slir/?w=600&c=10x7&q=90&i=/assets/projects/'+project.id+'/'+project.thumbnail.url" 
									:alt="project.title" 
									></loader-image>
								</a>
						</div>
						<div class="mr--content">
							<h2><a :href="'#' + project.id" @click="showProjectDetails(project)">{{ project.title }}</a></h2>
							<div class="mr--project-intro">{{project.intro}}</div>
						</div>
					</li>
				</ul>
				</transition-group>
			</div>

		</div>

		<transition name="modal" mode="out-in">
			<div class="mr--modal-container" v-if="currentProject">

				<div class="mr--modal-screen" @click="hideProjectDetails()"></div>

				<project-detail
					:project="currentProject"
					@close="hideProjectDetails()"
					class="mr--modal"
					></project-detail>
			</div>
		</transition>

		<div class="mr--footer-main">
			<div class="mr--email">Thanks for visiting! <a href="mailto:hello@marcelray.com?subject=Hello!">Why not say hello?</a></div>
			<div class="mr--copyright"><div class="mr--content">Handmade with love.</div> <div class="mr--source-link"><a href="https://github.com/marcelray/marcelray-portfolio-vue" target="_blank"><img class="icon-github" src="assets/images/icon-github.png" alt="Github link"/></a></div></div>
		</div>

	</div>

</body>

</html>
