@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed|Droid+Serif:400,400italic);
@import 'reset.css';
@import 'mr-lib';
@import 'mixins';
// @import 'styles';

// Fonts
@font-titles: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Segoe UI', sans-serif;
@font-copy: 'Merriweather', 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
// @font-copy: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Segoe UI', sans-serif;

@color-accent: #77064f;
@color-accent-hover: lighten(@color-accent,10);
@button-background: linear-gradient(333deg, #123438 0%, #5a1a4e 82%, #8e075e 100%);
@button-background-light: linear-gradient(333deg, #2c7e87 0%, #aa3194 82%, #a84d88 100%);
@button-background-fade: linear-gradient(333deg, #123438ee 0%, #5a1a4eee 82%, #8e075eee 100%);

.fancy-pants {
	color: @color-accent;
	position: relative;
	background: @button-background-light;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

body {
    background: #f3f3f3;
	color: #111;
	font-family: @font-titles;
	// font: 76%/12pt @font-titles;
	line-height: 175%;
	font-size: 9pt;
	// letter-spacing: .01rem;
}
* { 
	text-rendering: optimizeLegibility;
}
a {
	color: #000 !important;
	// color: @color-accent;
	text-decoration: none;
}
a:hover {
	// color: @color-accent-hover;
}
p {
	font-family: @font-copy;
}
h1,h2,h3,h4,h5,h6 {
	letter-spacing: -.03rem;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.resume {

	background: #fff;
	border: 1px solid #f9f9f9;
	width: 8.5in;
	padding: 4rem;
	margin: 2rem auto;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.03);

	.column {
		padding: 0 0 1rem;
	}

	.column-group {
		display: flex;
		flex-direction: row;
		gap: 2rem;
		align-items: flex-start;

		&:first-child .column {
			padding-top: 0;
		}

		.column.primary {
			flex-grow: 1;
			order: 1;
			// border: 1px solid #ff000022;
		}
		.column.secondary {
			.force-width(12rem);
			order: 2;
			padding-left: 2rem;
			border-left: 1px solid #eee;
		}
	}

	.name {
		font-size: 1.6rem;
		font-weight: 600;
		height: 1.7rem;
		margin-bottom: -.5rem;
		// text-transform: uppercase;
		letter-spacing: -0.03rem;

		color: @color-accent;
		// .fancy-pants;
	}

	.summary {
		// display: none;
		font-family: @font-copy;
		font-size: .9rem;
		margin: 1.5rem 0 .5rem;
		line-height: 170%;
		color: #666;
	}

	
	> header {

		align-items: stretch;

		.column.secondary {
			border-left: none !important;
		}


		.contacts {
			// float: right;
			display: flex;
			flex-direction: row;

			.contact {
				display: flex;
				flex-direction: row;

				&:first-child:before {
					display: none;
				}

				&:before {
					content: '/';
					font-weight: 400;
					display: inline-block;
					margin-left: .4rem;
					margin-right: .4rem;
					color: #ddd !important;
				}
				> * {
					display: block;
				}
				.label {
					width: 1rem;
					margin-right: .2rem;
					text-ixalign: right;
				}
				a {
					flex-grow: 1;
				}
			}

		}
	}

	.column.primary .section h2 {
		margin-bottom: .5rem;
	}
	.column.secondary .section { 
		margin-bottom: 1.1rem;
		h2 {
			margin-bottom: .2rem;
		}
	}

	.section {
		margin: 0rem 0 2rem;

		&:last-child {
			margin-bottom: 0;
		}

		h2 {
			text-transform: uppercase;
			color: #999;
		}

		li {
			.organization, .organization a {
				color: @color-accent !important;
				font-weight: 600;
			}

			.location,
			.dates {
				color: #999;
				display: block;
				font-size: .7rem;
				text-transform: uppercase;
				line-height: 170%;
				margin: 0;
			}
			.location {
				display: none;
			}
		}


		&.section-experience {

			> ol li {
			
				margin-bottom: 1rem;
				page-break-inside: avoid;

				.organization, .role {
					display: inline-block;
					font-size: 1rem;
					font-weight: 200;
					line-height: 150%;
				}
				.organization {
					font-weight: bold;
					margin-right: 0;

					.contract {
						display: inline-block;
						display: none;
					}
					.contract:before {
						position: relative;
						font-size: .7rem;
						color: #ccc;
						margin-left: 1rem;
						display: inline-block;
						content: ' (Contract)';
					}
				}
				.organization:after {
					content: '/';
					font-weight: 400;
					display: inline-block;
					margin-right: .2rem;
					margin-left: .4rem;
					color: #ddd !important;
				}

			}
		}

		&.section-skills {
			.wizardry {
				// margin-top: .35rem;
				// height: 1rem;
				color: #1c925f;
			}
		}

		&.section-accolades,
		&.section-education {
			
		}

		&.section-education {
			li {
				.honors {
					font-style: italic;
				}
			}
			margin-bottom: 0 !important;
		}

		&.section-contact {
			.contacts {
			
				.contact {
					display: flex;
					flex-direction: row;
					> * {
						display: block;
					}
					.label {
						width: 1rem;
						margin-right: .2rem;
						text-align: right;
					}
					a {
						flex-grow: 1;
					}
				}
	
			}
		}
	}
	.handmade {
		display: none;
		color: #eee;
	}

}



@media print {
	@page {
		margin: .7in;
	}

	html,
	body,
	.resume {
		background: none !important;
		border: none !important;
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		max-width: none !important;
		box-shadow: none !important;
	}
	a {
		// color: #111 !important;
	}
	.header , .footer {
		position: fixed;
	}
	.resume {
		margin-top: 3rem;
	}
	.title , .title a {
		color: #111 !important;
	}
	.print--page-break {
		content: '';
		display: block !important;
		page-break-before: always !important;
	}
}